/* INIT */
html,
body,
#interaction-container,
#map,
#hud-map {
	height: 100%;
	box-sizing: border-box;
}

body.prod .only-dev {
	display: none;
}

body {
	margin: 0;
}

/* IDS */
#interaction-container {
	display: flex;
}
#too-small {
	display: none;
	position: absolute;
	width: 200px;
	top: 50%;
	left: calc(50% - 100px);
	text-align: justify;
}

#map-container {
	width: 65%;
}
#map {
	border: 2px solid gray;
}

#hud-map-container {
	width: 35%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 2px solid black;
}

#hud-map {
	border-bottom: 2px solid black;
}

#hud-map-util {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 32px);
	gap: 8px;
	margin: 0 auto;
	padding: 16px;
}

#hud-map-util > div {
	display: flex;
	gap: 8px;
}
#hud-map-util > div#hud-map-data-sets {
	flex-direction: column;
}

#hud-map-util p,
#hud-map-util span {
	margin: 0;
	font-weight: 600;
}

#hud-map-actions {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 8px;
}

#region-selection-container {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}

#city-labels-container {
	display: flex;
	gap: 4px;
}

#legend {
	width: 150px;
	background-color: whitesmoke;
	z-index: 1000;
	border: 2px solid gray;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 8px;
	font-family: sans-serif;
}
#legend p {
	padding: 0;
	margin: 0;
	font-weight: 700;
}
#legend > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#legend table tr td.legend-line {
	width: 100%;
	height: 0;
	padding-left: 4px;
}
#legend #local {
	border-bottom: 8px solid blue;
}
#legend #interstate {
	border-bottom: 8px dashed green;
}
#legend #country {
	border-bottom: 8px dashed orange;
}

#help-dialog {
	position: relative;
	height: 200px;
	width: 400px;
	background-color: #f5f5f5;
	z-index: 1000;
	padding: 2rem 1rem 1rem 1rem;
}

#help-dialog[open] {
	display: flex;
	flex-direction: column;
}

#help-dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

#help-dialog-content {
	height: 100%;
}

#help-dialog-close {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

#route-data-header {
	display: flex;
	justify-content: space-between;
}

#popup-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
#popup-container.hidden {
	display: none;
}
#lookup-location-advanced-popup {
	display: block;
	min-width: 300px;
	max-width: 400px;
	min-height: 400px;
	max-height: 600px;
	overflow-y: auto;
}
#lookup-location-advanced-popup li {
	list-style-type: none;
}
#lookup-location-advanced-popup button {
	padding: 8px 16px;
}

/* CLASSES */
.icon-button {
	background: none;
	border: 2px solid black;
	border-radius: 100px;
	padding: 6px 10px;
	user-select: none;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.icon-button:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}

.no-click {
	cursor: not-allowed;
}

.input-set {
	display: flex;
	flex-direction: column;
	max-width: 200px;
}

.input-actions {
	display: flex;
}

@media screen and (min-width: 1400px) {
	#map-container {
		width: 75%;
	}
	#hud-map-container {
		width: 25%;
	}
}
@media screen and (max-width: 1000px) {
	#map-container,
	#hud-map-container {
		width: 50%;
	}
}
@media screen and (max-width: 650px) {
	#hud-map {
		display: none;
	}
	#interaction-container {
		flex-direction: column;
		align-items: center;
	}
	#map-container {
		width: 100%;
		height: 65%;
	}
	#hud-map-container {
		width: 100%;
		height: 35%;
		overflow: auto;
	}
}

@media screen and (max-width: 350px) {
	#interaction-container {
		display: none;
	}
	#too-small {
		display: block;
	}
}
